<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
        <h1>
            Your Characters
        </h1>
       	<table id="character-table">
       		<thead>
       			<tr>
       				<th>Character Name</th>
       				<th>Specification</th>
       				<th>Realm</th>
       				<th>Gear Score</th>
       			</tr>
       		</thead>
       		<tbody>
	       		<tr>
	       			<td>
						Taurosso
		        	</td>
		        	<td>
						Protection Warrior
		        	</td>
		        	
		        	<td>
						Krag'jin
		        	</td>
		        	<td>
						860
		        	</td>
	        	</tr>
	       		<tr>
	       			<td>
						Devillin
		        	</td>
		        	<td>
						Havoc Demon Hunter
		        	</td>
		        	
		        	<td>
						Krag'jin
		        	</td>
		        	<td>
						858
		        	</td>
	        	</tr>
	       		<tr>
	       			<td>
						Holyoria
		        	</td>
		        	<td>
						Holy Priest
		        	</td>
		        	
		        	<td>
						Krag'jin
		        	</td>
		        	<td>
						800
		        	</td>
	        	</tr>
	       		<tr>
	       			<td>
						Denvira
		        	</td>
		        	<td>
						Fire Mage
		        	</td>
		        	<td>
						Krag'jin
		        	</td>
		        	<td>
						800
					</td>
	        	</tr>
			</tbody>
       	</table>
		<form style="margin-top: 25px;">
			<button class="button" style="width: 125px;">Add Character</button>
		</form>
	</wicket:panel>
</body>
</html>