<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
		<ul wicket:id="dps-view">
			<li>
				<h4><span wicket:id="specification">Specification</span> <span wicket:id="class">Class</span></h4>
				<h4 class="total-dps" wicket:id="dps"></h4>
                <div id="dps-back">
                    <div class="dps" wicket:id="dps-diagram"></div>
                </div>
			</li>
        </ul>
	</wicket:panel>
</body>
</html>