* {
    margin: 0px;
    padding: 0px;
}

a {
	color: #58b72f;
}

body {
    background-color: #1C140D;
    color: #FFFFFF;
}

nav {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    z-index: 999;
}
nav ul {
    display: table;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border-left: 1px #999 solid;
    border-right: 1px #999 solid;
    box-shadow: 1px 0px 0px 0px #000 inset;
}
nav ul li {
    float: left;
    border-right: 1px #000 solid;
    box-shadow: 1px 0px 0px 0px #999;
    margin-left: 1px;
    padding: 25px;
    cursor: pointer;
    color: #58b72f;
}
#logo {
    padding-top: 3px;
    padding-bottom: 1px;
}
#logo-img {
    height: 60px;
}
#nav-right {
    float: right;
    padding-left: 50px;
    border-left: 1px #000 solid;
    box-shadow: -1px 0px 0px 0px #999;
    position: relative;
    cursor: initial;
}
#nav-right img {
    position: absolute;
    height: 30px;
    left: 10px;
    top: 15px;
}
#nav-right .dropdown {
    position: absolute;
    padding: 25px;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.95);
    border-left: 1px #999 solid;
    color: #FFFFFF;
    float: left;
    left: -2px;
    margin-top: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
#nav-right:hover .dropdown {
    display: block;
}
nav ul li:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #68BE43;
}
form input {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px #58b72f solid;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
form input:focus {
    box-shadow: 0px 0px 3px 2px #58b72f inset;
}
form .button {
    background-color: #58b72f;
    color: #FFFFFF;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 85px;
}
form a {
    color: #58b72f;
}
form select {
	background-color: #58b72f;
	color: #FFFFFF;
	padding-right: 5px;
	border: 1px solid #58b72f;
	border-radius: 3px;
}

#header {
    background-image: url("image/header-illidan.jpg");
    background-color: #000;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    vertical-align: middle;
    display: table;
    background-position: center -140px;
    border-bottom: 10px solid #FFF;
    margin-bottom: 100px;
    text-shadow: 1px 1px 1px #000;
}

#main-content-wrapper {
    border: 1px solid #346D1C;
    border-radius: 15px;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #1e1c1b;
}
#main-content-wrapper h1 {
    border-bottom: 1px solid #58b72f;
    margin-bottom: 25px;
}
#main-content-wrapper ul {
    list-style: none;
}
#main-content-wrapper ul li {
    margin-top: 15px;
    position: relative;
}
.total-dps {
	display: inline-block;
	position: absolute;
	right: 0%;
	top: 2px;
}
#dps-back {
    margin-top: 5px;
    padding: 1px;
    background-color: #444444;
}
.dps {
    height: 4px;
}
.warrior {
	background-color: #c79c6e;
}
.mage {
	background-color: #69ccf0;
}
.demonhunter {
	background-color: #a330c9;
}
.warlock {
	background-color: #9482c9;
}
.priest {
	background-color: #ffffff;
}
.paladin {
	background-color: #f58cba;
}
.hunter {
	background-color: #abd473;
}
.rogue {
	background-color: #fff569;
}
.shaman {
	background-color: #0070de;
}
.monk {
	background-color: #00ff96;
}
.druid {
	background-color: #ff7d0a;
}
.deathknight {
	background-color: #c41f3b;
}

#footer {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1e1c1b;
    text-align: center;
}

#developers {
    background-color: #000000;
    color: #58b72f;
    display: table;
    width: 100%;    
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#developer-wrapper {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.developer {
    margin-top: 50px;
    float: left;
    width: 200px;
}
.developer div {
    margin-left: 50px;
}

#developers label {
    margin-top: 50px;
    font-size: small;
    color: #888;
}
.developer-img-background {
    position: relative;    
    height: 100px; 
    width: 100px;
    border-radius: 50px;
    background-color: #ffffff;
    margin-bottom: 45px;
}
#kpk-img {
    width: 115px;
    position: absolute;
    top: -17px;
    left: -12px;
}
#ce-bc {
	background-color: #1e1c1b;
}
#ce-img {
	margin-top: -50px;
	margin-left: -46px;
}











@media screen and (max-width: 800px) {
    nav ul li, #nav-right {
    	float: none;
    	box-shadow: 0px 0px 0px 0px #fff;
    	border-top: 1px #555 solid;
    	box-shadow: 0px 1px 0px 0px #000 inset;
    }
    #nav-right .dropdown {
    	left: -3px;
    }
}







#main-content-wrapper-clear {
    border-radius: 15px;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
#main-content-wrapper-clear h1 {
    border-bottom: 1px solid #58b72f;
    margin-bottom: 25px;
}
#main-content-wrapper-clear ul {
    list-style: none;
}
#main-content-wrapper-clear ul li {
    margin-top: 15px;
    position: relative;
}
.green {
	color: #58b72f;
	font-size: 15pt;
	font-weight: bolder;
}