<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
		<h1>
			<span id="character-name-selenium" wicket:id="character-name"></span>
        </h1>
        <div wicket:id="character-image" class="character-img">
			<div wicket:id="item-left-side-panel" style="display: inline-block;"></div>
			<div wicket:id="item-right-side-panel" style="display: inline-block; float: right;"></div>
		</div>
	</wicket:panel>
</body>
</html>