<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
		<div style="display: flex; padding: 5px;">
			<img wicket:id="item-img" class="item-border">
			<div style="font-weight: bolder; padding: 5px; background-color: rgba(30, 28, 27, 0.25);">
				<span wicket:id="item-name"></span><br />
				<span wicket:id="item-gs" style="color: #777; float: left; margin-top: 5px;"></span>
			</div>
		</div>
	</wicket:panel>
</body>
</html>