<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
		<a wicket:id="wow-head">
			<div class="item-view">
				<img wicket:id="item-img" alt="item" class="item-img">
				<div class="item-view-text">
					<span wicket:id="item-name"></span><br />
					<span wicket:id="item-gs" style="color: #BBB; float: left; margin-top: 5px;"></span>
				</div>
			</div>
		</a>
	</wicket:panel>
</body>
</html>