<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
        <div style="display: inline-block; text-align: left;">
			<div wicket:id="head-item"></div>
			<div wicket:id="nack-item"></div>
			<div wicket:id="shoulders-item"></div>
			<div wicket:id="back-item"></div>
			<div wicket:id="chest-item"></div>
			<div wicket:id="shirt-item"></div>
			<div wicket:id="wrist-item"></div>
			<div wicket:id="main-hand-item"></div>
		</div>
	</wicket:panel>
</body>
</html>