<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
        <div style="display: inline-block; text-align: left;">
			<div wicket:id="hands-item"></div>
			<div wicket:id="waist-item"></div>
			<div wicket:id="legs-item"></div>
			<div wicket:id="feet-item"></div>
			<div wicket:id="finger-1-item"></div>
			<div wicket:id="finger-2-item"></div>
			<div wicket:id="trinket-1-item"></div>
			<div wicket:id="trinket-2-item"></div>
			<div wicket:id="off-hand-item"></div>
		</div>
	</wicket:panel>
</body>
</html>