<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
        <h1>
            Your Characters <label wicket:id="username"></label>
        </h1>
       	<table id="character-table">
       		<thead>
       			<tr>
       				<th>Character Name</th>
       				<th>Specification</th>
       				<th>Realm</th>
       				<th>DPS</th>
       			</tr>
       		</thead>
       		<tbody>
	       		<tr wicket:id="characters">
	       			<td wicket:id="character-name">
						Taurosso
		        	</td>
		        	<td wicket:id="character-specification">
						Protection Warrior
		        	</td>
		        	
		        	<td wicket:id="character-realm">
						Krag'jin
		        	</td>
		        	<td wicket:id="character-dps">
						860
		        	</td>
	        	</tr>
			</tbody>
       	</table>
		<a class="button" style="display: block; width: 125px; margin-bottom: 25px;" wicket:id="add-character">Add Character</a>
	</wicket:panel>
</body>
</html>