<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
        <h1>
            Choose your Character
        </h1>
        <div wicket:id="feedbackpanel"></div>
		<form wicket:id="character-search-form">
        	<table class="center form-table">
        		<tr>
        			<td>
		        		<label><strong>Location</strong></label>
		        	</td>
		        	<td>
			        	<select id="location-selenium" style="width: 100%; height: 25px;" wicket:id="location"></select>
		        	</td>
	        	</tr>
				<tr>	 
					<td>       
		        		<label><strong>Realm</strong></label>
		        	</td>
		        	<td>
			        	<select id="realm-selenium" style="width: 100%; height: 25px;" wicket:id="realm"></select>
		        	</td>
				</tr>
				<tr>
					<td style="padding-right: 15px;">
	        			<label><strong>Character name</strong></label>
	        		</td>
	        		<td>
	        			<input id="name-selenium" placeholder="Character name" type="text" wicket:id="name" />
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
	        			<Button id="search-selenium" class="button" wicket:id="search">Search</Button>
	        		</td>
	        		<td>
	        			<button class="button" wicket:id="add-character-button" style="width: 150px;">Add character</button>
	        		</td>
	        	</tr>
        	</table>
        </form>
        <span wicket:id="blizz"></span>
        <div wicket:id="character-gear-panel"></div>
	</wicket:panel>
</body>
</html>