<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
	    <div id="footer" style="padding-right: 25%; padding-left: 25%;">
	        <h1>WoW License</h1>
	        <br />
	        <hr style="color: #58b72f; border-bottom: 0px;" />
	        <br />
	        The Header-Image is an original Blizzard image.<br />
	        <br />
	        &copy;2016 Blizzard Entertainment, Inc. All rights reserved. World of Warcraft, The Burning Crusade, Wrath of The Lich King, Cataclysm, Mists of Pandaria, Warlords of Draenor, Legion and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment in the U.S. and/or other countries.<br />
	        <br />
	        See also Blizzard Licenses.
	    </div>
		<div id="developers">
			<div id="developer-wrapper">
	      		<a wicket:id="about-leon">
		            <div class="developer">
		                <div class="developer-img-background">
		                	<img id="le-img" src="style/image/doge.png">
		                </div>
		                Leon Gottschick
		            </div>
	            </a>
	            <a wicket:id="about-kamil">
		            <div class="developer">
		                <div class="developer-img-background">
		                    <img id="kpk-img" src="style/image/Illidan-kpk.png">
		                </div>
		                Kamil Piotr Kalmus
		            </div>
	            </a>
	           	<a wicket:id="about-chris">
		            <div class="developer">
		                <div id="ce-bc" class="developer-img-background">
		                	<img id="ce-img" src="style/image/dosenoeffnerFertig.png">
		                </div>
		                Christoph Emig
		            </div>
	            </a>
	        </div>
	        <br />
	        <label>Created by GottMusIg</label>
	    </div>
	</wicket:panel>
</body>
</html>