<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
	lang="de">
<head>
</head>
<body>
	<wicket:panel>
		<nav>
			<ul>
	            <a wicket:id="home"><li id="logo"><img id="logo-img" src="style/image/logo.png" alt="GottMusIg" ></li></a>
	            <a wicket:id="gear"><li id="gear">Gear</li></a>
	            <a wicket:id="about"><li>About</li></a>
	            <a wicket:id="character"><li>Characters</li></a>
	            <a wicket:id="sign-out" class="nav-right" style="cursor: pointer;"><li>Sign out</li></a>
	            <div wicket:id="sign-in-panel"></div>
	        </ul>
	    </nav>    
	</wicket:panel>
</body>
</html>